@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.image-conference {
    height: 40%;
    padding: 20px;
    width: 100vh;
    width: 100%;
}

.text-card {
    margin: 50px;
}

.heading-cof {
    font-weight: bold;
    color: #183b56;
    font-family: "Roboto";
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin-left: 30px;
    font-size: 40px;
}

.heading-para {
    color: #5a7184;
    text-align: center;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 30px;


}

.button-know-more {
    margin-top: 30px;
}

.card-container {
    padding: 40px;
}

.heading-elements {
    font-weight: bold;
    color: #183b56;
    font-family: "Roboto";
}

.para-elements {
    color: #5a7184
}

.margin-forw {
    margin-left: 140px;
}

.text-alignment {
    text-align: center;
}

.margin-at {
    margin-left: 40px;

}

.margin-top {
    margin-top: 30px;
}